﻿@model IEnumerable<Role>

<a class="btn btn-primary"  asp-action="Create" asp-controller="Roles">Create new role</a>
@foreach (var role in Model)
{
    <div>
        <a asp-route-roleId="@role.Id" asp-action="Edit" asp-controller="Roles">@role.Name</a>
    </div>
}
