﻿@model List<User>
@{
    var searchResult = ViewBag.SearchResult;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/scrollbar.css" />
<link href="~/css/searchMenu.css" rel="stylesheet" />

<form class="example" asp-action="SearchBy" asp-controller="Account"> 
    <div>
        <input placeholder="Search..." type="text" name="UserName" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
<div class="scroll">
    <ul>
        @foreach (var user in Model)
        {
            <li><a asp-action="Get" asp-controller="Accounts" asp-route-id="@user.Id">@user.UserName</a></li>
        }
        @for (int i = 0; i < 10; i++)
        {
            <li><a>@Model.First().UserName</a></li>
        }
    </ul>
</div>
