﻿@model RoleInfoViewModel
@{ 
    var roleId = ViewBag.roleId;
}

<div class="form-group">
    <label asp-for="RoleId"></label>
    <input asp-for="RoleId" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="RoleName"></label>
    <input asp-for="RoleName" class="form-control" />
</div>
<div class="card">
    <h1 class="card-title">Users in role</h1>
    @if (!Model.UsersInRole.Any())
    {
        <h3>No users in this role yet</h3>
    }
    else
    {
        <ul>
            @foreach (var user in Model.UsersInRole)
            {
                <li class="card-text">@user.UserName</li>
            }
        </ul>
    }
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="UpdateUsersRole" asp-controller="Account" asp-route-roleId="@roleId">Add or remove users</a>
    </div>
</div>
