﻿@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@inject IUnitOfWork unitOfWork;
@inject FastScoreContext context;

@{
    User user = null;

    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
        user = await context.Users.Include(u => u.FavoriteMatches).FirstOrDefaultAsync(u => u.Id == userId);
        var userFavorites = user.FavoriteMatches;
    }

    var sports = await unitOfWork.SportsService.GetAll();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site_tennis.css" />
    <link href="~/css/secondNavBar.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <a class="navbar-brand" style="color:white" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="special-container">
                        <div class="image">
                            <img id="logo" src="~/imges/Uvf86ufG_400x400.png" />
                        </div>
                        <div class="text">
                            <p><span class="logoText">FastScore</span><span class="logoText" style="font-size: 12px;">We deliver scores faster</span></p>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar -collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout @user.UserName</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <nav id="bottomNav" class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                <div class="navbar -collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="background-color:darkgreen">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        @foreach (var sport in sports)
                        {
                            @if (sport.IsFavoriteSport)
                            {
                                <li class="nav-item">
                                    <a asp-action="GetTodayMatches" asp-controller="Matches" asp-route-sportId="@sport.Id" class="sports">
                                        <div class="special-container">
                                            <div class="image">
                                                <img class="sportsImg" src="@sport.PhotoUrl" />
                                            </div>
                                            <div class="text">
                                                @sport.Name
                                            </div>
                                            <div class="dot">1</div>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TestProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>