﻿@model string


<div id="container">
    <img style="margin-left:auto; margin-right:auto; width:20px; height:20px; display:block" src="@Model" />
    <p style="margin-left:auto; margin-right:auto; text-align:center">No match found.</p>
</div>