﻿@model UserLoginViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe"></label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <div>
        <a asp-action="Register" asp-controller="Account" class="text-dark">Don't have account yet? Register to join!</a>
    </div>

    <div asp-validation-summary="All"></div>
</form>
