﻿#league-options-text {
    cursor: context-menu;
    font: bold;
}

#img-cross-close-manage-league {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
}

#remove-league:hover {
    background-color: lightgray;
}

#remove-league-matches:hover {
    background-color: lightgray;
}

.league-star-img {
    width: 20px;
    height: 20px;
}

.special-container-league {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: sandybrown;
}

.country-flag {
    width: 30px;
    height: 15px;
}

.country-name-div {
    margin-left: 5px;
}

.country-name {
    font-weight: bold;
}

.league-name {
    font-weight: bold;
    color: black;
}

.league-name:hover{
    color:black;
}

.league-name-div {
    padding-left: 2px;
}

.manage-league-star-img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.flex-row-manage-league {
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
}
